<link rel="stylesheet" href="/css/header.css">
<header> <!-- creo mi fracmento de haeder -->
    <nav class="barra">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </nav>
</header>