<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %> <!-- Permite agregar los partials --> 
    <main>
        <h1>Ooop!!!la esta pagina no existe</h1>
        <a href="/">Volver al inicio</a>
    </main>
    <%- include('partials/footer') %> <!-- Permite agregar los partials --> 
</body>
</html>