<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %> <!-- Permite agregar los partials -->
    <main>
        <h1>About</h1>
        <a href="/">Ir a index</a>
        <%- include('partials/footer') %> <!-- Permite agregar los partials -->
    </main>
    
</body>
</html>